<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated behavior -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.modsim.simspec.model.behavior.presentation.BehaviorModelWizardID"
            name="%_UI_BehaviorModelWizard_label"
            class="edu.kit.ipd.sdq.modsim.simspec.model.behavior.presentation.BehaviorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BehaviorModelFile.gif">
         <description>%_UI_BehaviorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated behavior -->
      <editor
            id="edu.kit.ipd.sdq.modsim.simspec.model.behavior.presentation.BehaviorEditorID"
            name="%_UI_BehaviorEditor_label"
            icon="icons/full/obj16/BehaviorModelFile.gif"
            extensions="behavior"
            class="edu.kit.ipd.sdq.modsim.simspec.model.behavior.presentation.BehaviorEditor"
            contributorClass="edu.kit.ipd.sdq.modsim.simspec.model.behavior.presentation.BehaviorActionBarContributor">
      </editor>
   </extension>

</plugin>
